service: url-shortener-service

provider:
  name: aws
  runtime: nodejs12.x
  region: ap-southeast-1
  stackName: url-shortener-stack
  apiName: url-shortener-api
  lambdaHashingVersion: 20201221
  apiGateway:
    shouldStartNameWithService: true

functions:
  createUrl:
    handler: handler.createUrl
    events:
    - http:
        path: url
        method: post
  getUrl:
    handler: handler.getUrl
    events:
    - http:
        path: get/{hashcode}
        method: get

plugins:
  - serverless-offline